{{#section "head"}}
	<title>Agregar Lugar</title>
	<link rel="stylesheet" href="/vendors/leaflet/leaflet.css" />
	<link rel="stylesheet" href="/vendors/leaflet-geosearch/dist/leaflet.css">
{{/section}}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Agregar un Lugar</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
						<div class="" role="tabpanel" data-example-id="togglable-tabs">
							{{> mostrar_errores}}
							<br>
						    <ul id="barra-navegacion-form" class="nav nav-tabs bar_tabs" role="tablist">
						        <li role="presentation" class="active"><a href="#tab_info" id="info" role="tab" data-toggle="tab" aria-expanded="true">1 - Información</a>
						        </li>
						        <li role="presentation" class=""><a href="#tab_contacto" class="enlace-contacto" role="tab" id="contacto" data-toggle="tab" aria-expanded="false">2 - Contacto</a>
						        </li>
						        <li role="presentation" class=""><a href="#tab_subir_fotos" class="enlace-subir-fotos" role="tab" id="subir-fotos" data-toggle="tab" aria-expanded="false">3 - Subir Fotos</a>
						        </li>
						        <li role="presentation" class=""><a href="#tab_foto_portada" class="enlace-foto-portada" role="tab" id="foto-portada" data-toggle="tab" aria-expanded="false">4 - Elige Foto de Portada</a>
						        </li>
						    </ul>
						    <form id="form-guardar-entidad" method="post" class="tab-content"  data-parsley-validate="">
					        	<div role="tabpanel" class="tab-pane fade active in" id="tab_info" aria-labelledby="info">
						        	<input type="hidden" name="tipo_sdi" value="">
									<label>Nombre: <input value="" required type="text" class="form-control" name="nombre" minlength="2" pattern="/^[a-zA-Z ñáéíóúÑÁÉÍÓÚ-]+$/" data-parsley-error-message="Debes ser un nombre real" placeholder="Nombre del lugar"></label>
									<label>Descripción: <textarea type="text" class="form-control" rows="3" data-parsley-minlength="150" name="descripcion" placeholder="Describe las características del lugar..."></textarea>
									</label>
									<label>Etiquetas: <input value="" type="text" id="etiquetas" class="form-control input-etiquetas" name="etiquetas" placeholder="Palabras claves que lo describan (esto para el motor de búsqueda)"></label>
						        </div>
						        <div role="tabpanel" class="tab-pane fade" id="tab_contacto" aria-labelledby="contacto">

						        	<label class="input-peq">
						            	País:
						            	<input type="text" required readonly="readonly" class="form-control" name="pais" value="Venezuela">
						            </label>
									<label class="input-peq pull-right">
						            	Estado / Provincia:
						            	<input type="text" required readonly="readonly" class="form-control" name="estado" value="Sucre" placeholder="Estado / Provincia / Departamento...">
						            </label>
									<div class="clearfix"></div>

						            <label class="input-peq" id="sugerencias-ciudad">
						            	Ciudad:
						            	<input type="text" required autocomplete="off"  class="form-control caja-texto typeahead" name="ciudad" id="ciudad" placeholder="Municipio / Parroquia / Poblado..." value="">
						            </label>
									<label class="input-peq pull-right" id="sugerencias-cp">
						            	Código Postal:
						            	<input type="text" required autocomplete="off"  class="form-control caja-texto typeahead" name="codigo_postal" id="codigo_postal" placeholder="0000" maxlength="4" maxlength="4" pattern="\d+" value="">
						            </label>
						            <div class="clearfix"></div>

						            <label>
						            	Dirección:
						            	<input type="text" required class="form-control" name="direccion" placeholder="Calle/Avenida/Lugares de referencia, dirección exacta del lugar" value="">
						            </label>

						            <br><br>
									<label><input type="hidden" required data-parsley-required-message="Debe ingresar su ubicación" id="lat" name="lat" value=""></label>
									<input type="hidden" id="lng" name="lng" value="">
									<h4>Haga clic en el botón con el icono  <i class="fa fa-map-marker"></i>  para agregar la ubicación</h4>
									<div id="mapa"></div>

						        </div>
						    	<div role="tabpanel" class="tab-pane fade" id="tab_subir_fotos" aria-labelledby="subir fotos">
                        			<div id="formSubirFotosAlbum" class="dropzone"></div>
						        </div>
						        <div role="tabpanel" class="tab-pane fade" id="tab_foto_portada" aria-labelledby="foto portada">
						        </div>

						        <div class="ln_solid"></div>
						        <div class="form-navigation">
									<button type="button" class="anterior btn btn-dark pull-left"><i class="fa fa-caret-left"></i> Anterior</button>
									<button type="button" class="siguiente btn btn-dark pull-right">Siguiente <i class="fa fa-caret-right"></i></button>
									<a href="/lugar/listado" class="btn btn-success pull-right">Aceptar</a>
									<span class="clearfix"></span>
								</div>
						    </form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{{#section "js_libs"}}
	<script src="/vendors/leaflet/leaflet.js"></script>
	<script src="/vendors/leaflet-geosearch/dist/bundle.min.js"></script>
	<script src="/js/manejador-mapa.js"></script>
	<script src="/js/handlebars.min.js"></script>
	<script src="/vendors/typeahead/dist/typeahead.bundle.js"></script>
	<script>
		activarCreacionMarcadoresOSM();
	</script>
{{/section}}
