{{#section 'head'}}
	<title>Solicitudes de Prestadores de Servicio</title>
{{/section}}

<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3>Solicitudes de Prestadores de Servicio</h3>
			<div class="x_panel">
				<div class="x_content">
					<table id="solicitudes" class="hover stripe display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th></th>
								<th>Nombre</th>
								<th>Tipo</th>
								<th>Prestador de Servicio</th>
								<th>Descripción</th>
								<th>Operacion</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>   
</div>
<!-- /page content -->
