@charset "UTF-8";
.site-header {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
    color: #fff;
    z-index: 0;
    color: #fff;
}

.site-header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 24, 40, 0.55);
}

.site-header.bg-repeat {
    background-size: none;
    background-repeat: repeat;
}

.site-header.size-lg {
    padding: 40px 0;
}

.site-header.size-full {
    height: 100vh;
}

.site-header.size-full .container,
.site-header.size-full .container-fluid {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.site-header h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.site-header h4,
.site-header h3 {
    letter-spacing: 1px;
    line-height: 36px;
}

.site-header mark {
    color: rgba(92, 190, 254, 0.8);
    background-color: transparent;
    font-weight: bold;
}

@media (max-width: 991px) {
    .site-header h1 {
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .site-header h4,
    .site-header h3 {
        line-height: 32px;
        font-size: 21px;
    }
    .site-header h5 {
        line-height: 28px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .site-header {
        padding: 60px 0;
    }
    .site-header.size-sm {
        padding: 30px 0;
    }
    .site-header.size-lg {
        padding: 90px 0;
    }
    .site-header h1 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .site-header h4,
    .site-header h3 {
        line-height: 25px;
        font-size: 17px;
    }
    .site-header h5 {
        line-height: 22px;
        font-size: 16px;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bbbbbb !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #bbbbbb !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #bbbbbb !important;
}

.filtros {
    margin-top: 2rem;
}

.info-sitio {
    height: 29rem;
    width: 26rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 16px 25px 10px -6px #e0d0e0;
    box-shadow: 16px 25px 10px -6px #e0d0e0;
}

.info-sitio img {
    height: 18rem;
    vertical-align: top;
    width: 100%;
}

.info-sitio .descripcion-info {
    background: #fff;
    height: 11rem;
    padding: 0 .8rem;
    overflow: hidden;
}

.py {
    padding: 30px 25px;
}

.info-sitio .descripcion-info .interaccion {
    float: right;
    margin: 0 1rem 0 0;
}

.fa-heart {
    color: #f27374;
    font-size: 1.5em;
    margin-right: 1rem;
}

.fa-share-alt {
    color: #373a3c;
    font-size: 1.5em;
}

@media (min-width: 992px) {
    .info-sitio {
        width: 24rem;
    }
}

@media (min-width: 768px) {
    .info-sitio {
        width: 26rem;
    }
}

@media (min-width: 360px) {
    .info-sitio {
        width: auto;
    }
}

.social-icons a.google:hover {
    background-color: #ef4b4b;
}



/*Estrellas calificación*/

.ec-stars-wrapper {
    /* Espacio entre los inline-block (los hijos, los `a`) */
    font-size: 0;
    /* Podríamos quitarlo, 
      pero de esta manera (siempre que no le demos padding), 
      sólo aplicará la regla .ec-stars-wrapper:hover a cuando
      también se esté haciendo hover a alguna estrella */
    display: inline-block;
}

.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2rem;
    color: #888;
}

.ec-stars-wrapper:hover a {
    color: #ffd700;
}



/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */

.ec-stars-wrapper>a:hover~a {
    color: #888;
}



/* Fin estrellas de calificación */


/*# sourceMappingURL=custom.css.map */