@charset "UTF-8";
.site-header {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
    color: #fff;
    z-index: 0;
}









/* .site-header::before {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
    color: #fff;
    z-index: 0;
} */

.site-header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 24, 40, 0.55);
}

.site-header.bg-repeat {
    background-size: none;
    background-repeat: repeat;
}

.site-header.size-lg {
    padding: 40px 0;
}

.site-header.size-full {
    height: 100vh;
}

.site-header.size-full .container,
.site-header.size-full .container-fluid {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}



.site-header.bg-repeat {
    background-size: none;
    background-repeat: repeat;
}

.site-header.size-lg {
    padding: 40px 0;
}

.site-header.size-full {
    height: 100vh;
}

.site-header.size-full .container,
.site-header.size-full .container-fluid {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.site-header h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.site-header h4,
.site-header h3 {
    letter-spacing: 1px;
    line-height: 36px;
}

.site-header mark {
    color: rgba(92, 190, 254, 0.8);
    background-color: transparent;
    font-weight: bold;
}

@media (max-width: 991px) {
    .site-header h1 {
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .site-header h4,
    .site-header h3 {
        line-height: 32px;
        font-size: 21px;
    }
    .site-header h5 {
        line-height: 28px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .site-header {
        padding: 60px 0;
    }
    .site-header.size-sm {
        padding: 30px 0;
    }
    .site-header.size-lg {
        padding: 90px 0;
    }
    .site-header h1 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .site-header h4,
    .site-header h3 {
        line-height: 25px;
        font-size: 17px;
    }
    .site-header h5 {
        line-height: 22px;
        font-size: 16px;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bbbbbb !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #bbbbbb !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #bbbbbb !important;
}

.filtros {
    margin-top: 2rem;
}

.info-sitio {
    height: 29rem;
    width: 26rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 16px 25px 10px -6px #e0d0e0;
    box-shadow: 16px 25px 10px -6px #e0d0e0;
}

.info-sitio img {
    height: 18rem;
    vertical-align: top;
    width: 100%;
}

.info-sitio .descripcion-info {
    background: #fff;
    height: 11rem;
    padding: 0 .8rem;
    overflow: hidden;
}

.pv {
    padding: 30px 25px;
}

.info-sitio .descripcion-info .interaccion {
    float: right;
    margin: 0 1rem 0 0;
}

.fa-heart {
    color: #f27374;
    font-size: 1.5em;
    margin-right: 1rem;
}

.fa-share-alt {
    color: #373a3c;
    font-size: 1.5em;
}

.boton-mas {
    position: right;
    border-radius: 50%;
}

.fa-plus-circle {
    font-size: 4rem;
    /*  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

.fa-plus-circle:hover {
    color: #0D1B4C;
}

@media (min-width: 992px) {
    .info-sitio {
        width: 24rem;
    }
    ;
}

@media (min-width: 768px) {
    .info-sitio {
        width: 26rem;
    }
}

@media (min-width: 360px) {
    .info-sitio {
        width: auto;
    }
}







/*Estrellas calificación*/

.ec-stars-wrapper {
    /* Espacio entre los inline-block (los hijos, los `a`) */
    font-size: 0;
    /* Podríamos quitarlo, 
      pero de esta manera (siempre que no le demos padding), 
      sólo aplicará la regla .ec-stars-wrapper:hover a cuando
      también se esté haciendo hover a alguna estrella */
    display: inline-block;
}

.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2rem;
    color: #888;
}

.ec-stars-wrapper:hover a {
    color: #ffd700;
}

.site-header h4,
.site-header h3 {
    letter-spacing: 1px;
    line-height: 36px;
}

.site-header mark {
    color: rgba(92, 190, 254, 0.8);
    background-color: transparent;
    font-weight: bold;
}

@media (max-width: 991px) {
    .site-header h1 {
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .site-header h4,
    .site-header h3 {
        line-height: 32px;
        font-size: 21px;
    }

    .site-header h5 {
        line-height: 28px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .site-header {
        padding: 60px 0;
    }

    .site-header.size-sm {
        padding: 30px 0;
    }

    .site-header.size-lg {
        padding: 90px 0;
    }

    .site-header h1 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .site-header h4,
    .site-header h3 {
        line-height: 25px;
        font-size: 17px;
    }

    .site-header h5 {
        line-height: 22px;
        font-size: 16px;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bbbbbb !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #bbbbbb !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #bbbbbb !important;
}

.header-job-search {
    margin-top: 50px;
}

.header-job-search .input-keyword,
.header-job-search .input-location,
.header-job-search .btn-search {
    display: inline-block;
    float: left;
}

.header-job-search .input-keyword,
.header-job-search .input-location {
    position: relative;
    width: 40%;
}

.header-job-search .input-keyword::before,
.header-job-search .input-location::before {
    position: absolute;
    top: 0;
    left: 20px;
    font-family: 'themify';
    font-size: 28px;
    line-height: 70px;
    color: #b3c1c6;
    content: "\e610";
}

.header-job-search .input-location::before {
    content: "\e693";
}

.header-job-search .input-keyword .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #c2cdd1;
}

.header-job-search .btn-search {
    width: 20%;
}

.header-job-search .btn-search .btn {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    text-transform: none;
    height: 70px;
    width: 100%;
}

.header-job-search .btn-search a {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 13px;
    opacity: .8;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.header-job-search .btn-search a:hover {
    opacity: 1;
}

.header-job-search .form-control {
    border: none;
    padding-left: 60px;
    height: 70px;
    color: #55595c;
}

.filtros {
    margin-top: 2rem;
}

.info-sitio {
    height: 29rem;
    width: 26rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 16px 25px 10px -6px #e0d0e0;
    box-shadow: 16px 25px 10px -6px #e0d0e0;
}

.info-sitio img {
    height: 18rem;
    vertical-align: top;
    width: 100%;
}

.info-sitio .descripcion-info {
    background: #fff;
    height: 11rem;
    padding: 0 .8rem;
    overflow: hidden;
}

.py {
    padding: 30px 25px;
}

.info-sitio .descripcion-info .interaccion {
    float: right;
    margin: 0 1rem 0 0;
}

.fa-heart {
    color: #f27374;
    font-size: 1.5em;
    margin-right: 1rem;
}

.fa-share-alt {
    color: #373a3c;
    font-size: 1.5em;
}

@media (min-width: 992px) {
    .info-sitio {
        width: 24rem;
    }
}

@media (min-width: 768px) {
    .info-sitio {
        width: 26rem;
    }
}

@media (min-width: 360px) {
    .info-sitio {
        width: auto;
    }
}

.social-icons a.google:hover {
    background-color: #ef4b4b;
}












/*Estrellas calificación*/

.ec-stars-wrapper {
    /* Espacio entre los inline-block (los hijos, los `a`) */
    font-size: 0;
    /* Podríamos quitarlo, 
      pero de esta manera (siempre que no le demos padding), 
      sólo aplicará la regla .ec-stars-wrapper:hover a cuando
      también se esté haciendo hover a alguna estrella */
    display: inline-block;
}

.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2rem;
    color: #888;
}

.ec-stars-wrapper:hover a {
    color: #ffd700;
}











/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */

.ec-stars-wrapper>a:hover~a {
    color: #888;
}






/* Fin estrellas de calificación */


/* nav dropdown */

.nav {
    width: 650px;
    margin: 100px auto 0 auto;
    text-align: center;
    background-color: #29aafe;
}




/* Navigation */

.nav {
    font-family: Georgia, Arial, sans-serif;
    font-size: 14px;
}

.nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #fff;
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 17px;
    line-height: 17px;
}

.dropdown .nav-link::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 200px;
    margin-left: -100px;
    background: #fff;
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    opacity: 0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu::after,
.submenu::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    height: 0;
}

.submenu::after {
    border-bottom-color: #fff;
}

.submenu::before {
    margin-left: -13px;
    border: 13px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .1);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.submenu-items {
    list-style: none;
    padding: 10px 0;
}

.submenu-item {
    display: block;
    text-align: left;
}

.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    color: #3498db;
    padding: 10px 20px;
}

.submenu-link:hover {
    text-decoration: underline;
}

.submenu-seperator {
    height: 0;
    margin: 12px 10px;
    border-top: 1px solid #eee;
}

.show-submenu .submenu {
    opacity: 1;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
}










/*# sourceMappingURL=custom.css.map */


/*------------VENTANA MODAL----------*/

.modal-title {
    text-align: center;
}







/*Fin botones compartir*/

#info-contacto {
    width: 50%;
    margin: 0 auto;
}

.redes {
    text-align: center;
    margin-top: 1em;
}

.redesf:link,
.redesf:visited {
    background-color: #3c66c4;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    width: 90%;
    font-size: 21px;
    font-family: arial;
}

.redesf:hover,
.redesf:active {
    background-color: #335FA4;
    border-radius: 8px;
}

.redest:link,
.redesf:visited {
    background-color: #33ccff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    width: 90%;
    font-size: 21px;
    font-family: arial;
}

.redest:hover,
.redesf:active {
    background-color: #29A6D0;
    border-radius: 8px;
}

.redesg:link,
.redesf:visited {
    background-color: #cf4332;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    width: 90%;
    font-size: 21px;
    font-family: arial;
    margin-bottom: 1em;
}

.redesg:hover,
.redesf:active {
    background-color: #bb3828;
    border-radius: 8px;
}






/*------------FIN VENTANA MODAL----------*/