{{#section 'titulo_pagina'}}Nosotros - Softour{{/section}}

<main>
     <!-- Site header -->
    <header class="site-header size-lg text-center" style="background-image: url(images/nosotros/work.jpg)">
        <br><br>
        <div class="container">
            <div class="col-xs-12">
                  <h2>Conócenos</h2>
                
            </div>
        </div>
    </header>
    <!-- END Site header -->
    <!--Contenido quienes somos-->
    <!--Contenido quienes somos-->
    <section>
      <!--   <header class="section-header">
          <h2>Conócenos</h2>
      </header> -->
        <div class="container">
            <div class="col-12 col-sm-8 col-md-8">
                <h4> QUIENES SOMOS</h4>
                <p class="text-justify">SofTour es una guía turística tecnológica concebida por un grupo de jóvenes informáticos que desarrollan software con altos estándares de ingeniería de software. SofTour es un sistema interactivo que brinda a turistas, viajeros y visitantes información relevante sobre sitios de interés, hoteles, posadas, eventos y actividades suministradas por los prestadores de servicios de la zona. SofTour se adapta a cualquier región o zona del planeta sin importar las características de dicha zona.</P>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <img src="images/nosotros/team.png" style="max-width: 290px; max-height: 290px;" />
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="col-12 col-sm-4 col-md-4">
                <img src="images/nosotros/mision.png" style="max-width: 280px; max-height: 280px;" />
            </div>
            <div class="col-12 col-sm-8 col-md-8">
                <h4>MISIÓN</h4>
                <p class="text-justify">Somos un sistema que atiende principalmente al sector turístico, que brinda información a los viajeros de diferentes sitios turísticos, además de brindar al administrador del sistema herramientas que le ayuden en la toma de decisiones.</P>
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="col-12 col-sm-8 col-md-8">
                <h4>VISIÓN</h4>
                <p class="text-justify">Ser el principal sistema turístico de Latinoamérica, que brinde las mejores herramientas a los viajeros. SofTour busca ser un sistema que muestre información fidedigna de los sitios que se contemplen, incluyendo sitios históricos, naturales, tecnológicos, académicos, entre otros, que sean fuente de ayuda para los viajeros.</P>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <img src="images/nosotros/telescope.png" style="max-width: 250px; max-height: 250px;" />
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="col-12 col-sm-4 col-md-4">
                <img src="images/nosotros/care.png" style="max-width: 250px; max-height: 250px;" />
            </div>
            <div class="col-12 col-sm-8 col-md-8">
                <h4>VALORES</h4>
                <p><img src="images/nosotros/check.png" style="max-width: 20px; max-height: 20px;">&nbsp;&nbsp;Honestidad</p>
                <p><img src="images/nosotros/check.png" style="max-width: 20px; max-height: 20px;">&nbsp;&nbsp;Innovación</p>
                <p><img src="images/nosotros/check.png" style="max-width: 20px; max-height: 20px;">&nbsp;&nbsp;Responsabilidad</p>
                <p><img src="images/nosotros/check.png" style="max-width: 20px; max-height: 20px;">&nbsp;&nbsp;Veracidad</p>
                <p><img src="images/nosotros/check.png" style="max-width: 20px; max-height: 20px;">&nbsp;&nbsp;Trabajo en equipo</p>
            </div>
        </div>
    </section>
    <!--//////////////-contactanos/////////////////-->
    <section class="backg-alt-2">
        <div class="container">
            <header class="section-header">
                <h2>Contáctanos</h2>
            </header>
            <div class="ct">
                <div id="info-contacto">
                    <div class="highlighted-block">
                        <dl class="icon-holder">
                            <dt><i class="fa fa-map-marker"></i></dt>
                            <dd>Municipio Sucre, Av. Bermúdez, Centro Comercial Jergo Center, Serman Import CA. Cumaná, Edo. Sucre, Venezuela</dd>
                            <dt><i class="fa fa-phone"></i></dt>
                            <dd>0800-softour-00</dd>
                            <dt><i class="fa fa-envelope"></i></dt>
                            <dd>info@softour.com</dd>
                        </dl>
                    </div>
                    <br>
                    <ul class="social-icons size-sm text-center">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
    </section>
    <!--Fin contenido quienes somos-->
</main>
